<div class="homepage-container">
  <div class="block-group">
    <div class="block">
      <div class="overview-title">Overview</div>
      <div class="item-total">
        <div>Balance:</div>
        <div class="total-value">8500,000sek</div>
      </div>
      <div class="overview-item">Balance increase: + 40%</div>
      <div class="overview-item">Investment in total: 200,000sek</div>
      <div class="overview-item">Profit this month: 10,000sek</div>
    </div>
    <div class="block pie-block">
      <pie-chart></pie-chart>
    </div>
  </div>
  <div class="block">
    <area-chart></area-chart>
  </div>
</div>
