<table class="table table-striped" >
  <thead>
    <tr>
      <th scope="col" (click)="sortData(FilterField.id)">ID<i [ngClass]="getSortIcon(FilterField.id)"></i></th>
      <th scope="col" (click)="sortData(FilterField.accountId)">Account ID<i [ngClass]="getSortIcon(FilterField.accountId)"></i></th>
      <th scope="col" (click)="sortData(FilterField.bank)">Bank<i [ngClass]="getSortIcon(FilterField.bank)"></i></th>
      <th scope="col" (click)="sortData(FilterField.balance)">Balance<i [ngClass]="getSortIcon(FilterField.balance)"></i></th>
      <th scope="col" (click)="sortData(FilterField.currency)">Currency<i [ngClass]="getSortIcon(FilterField.currency)"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of sortedData">
      <td>{{ item.id }}</td>
      <td>{{ item.accountId }}</td>
      <td><div class="bank">{{ item.bank }}</div></td>
      <td>{{ item.balance }}</td>
      <td>{{ item.currency }}</td>
    </tr>
  </tbody>
</table>
